.place-order {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 50px;
	margin-top: 100px;
}

.place-order-left {
	width: 100%;
	max-width: max(30%, 500px);
}

.place-order-left .title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 50px;
}

.place-order-left input {
	margin-bottom: 15px;
	width: 100%;
	padding: 10px;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	outline-color: rgb(254, 94, 65);
}

.place-order-left .multi-fields {
	display: flex;
	gap: 10px;
}

.place-order-right {
	width: 100%;
	max-width: max(40%, 500px);
}

.place-order-right .cart-total button {
	margin-top: 30px;
}

.btn-online {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
}

.btn-img-str,
.btn-img-raz {
	display: flex;
	justify-content: center;
	gap: 4px;
	font-size: 16px;
}

.btn-img-str img {
	width: 70px;
	height: 20px;
}

.btn-img-raz img {
	width: 75px;
	height: 20px;
}

strong {
	display: flex;
	justify-content: center;
	color: #9d00ff;
	
}

@media (max-width: 800px) {
	.place-order {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
